<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Military Connect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!--Morris Chart CSS -->
		<link rel="stylesheet" href="/assets/plugins/morris/morris.css">

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/assets/css/metisMenu.min.css" rel="stylesheet">
        <!-- Icons CSS -->
        <link href="/assets/css/icons.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/assets/css/style.css" rel="stylesheet">

    </head>

    <body>

        <div id="page-wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">

                    <div class="">

                        <a href="index.html" class="logo">

                            <img src="/assets/images/military.jpg" alt="logo" class="logo-lg" />
                        </a>
                    </div>
                </div>
                <!-- Top navbar -->
                <div class="navbar navbar-default" role="navigation">

                    <div class="container">

                        <div class="">
                            <!-- Top nav left menu -->

                            <ul class="nav navbar-nav hidden-sm hidden-xs top-navbar-items">
                                <li><a href="/team">Team</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>

                            <!-- Top nav Right menu -->
                            <ul class="nav navbar-nav navbar-right top-navbar-items-right pull-right">

                                <li class="hidden-xs">

                                    <form role="search" class="navbar-left app-search pull-left">

                                         <input type="text" placeholder="Search..." class="form-control">

                                         <a href=""><i class="fa fa-search"></i></a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Top Navbar -->
            </div><!-- End Top Bar -->

            <!-- Page content start -->
            <div class="page-contentbar">

                <!--Left navigation start-->
                <aside class="sidebar-navigation">

                    <div class="scrollbar-wrapper">

                        <div>

                            <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm"><i class="mdi mdi-close"></i></button>

                                <!-- User Detail box -->
                                <div class="user-details">

                                    <div class="pull-left">

                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
                                    </div>

                                    <div class="user-info">
                                        <a href="#">Devin Zimmerman</a>
                                        <p class="text-muted m-0">Administrator</p>
                                    </div>
                                </div>
                                <!--- End User Detail box -->

                                <!-- Left Menu Start -->
                                <ul class="metisMenu nav" id="side-menu">

                                    <li><a href="/home"><i></i>Home</a></li>

                                    <li><a href="/vetHome"><i></i>Veteran</a></li>

                                    <li><a href="#"><i></i>Job Search</a></li>

                                    <li>
                                        <a href="javascript: void(0);" aria-expanded="true"><i></i>Contacts<span class="fa arrow"></span></a>
                                        <ul class="nav-second-level nav" aria-expanded="true">
                                            <li><a href="javascript: void(0);">Employers</a></li>
                                            <li><a href="javascript: void(0);" aria-expanded="true">Counselors</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- End Left Menu -->
                        </div>
                    </div>
                </aside>
                <!-- End Left Navigation -->

                <!-- Start Page Content -->
                <div id="page-right-content">

                    <div class="container">

                        {{{ body }}}

                    </div>
                </div>
            </div>
        </div><!-- End Wrapper -->



    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>

    <!--Morris Chart-->
    <script src="/assets/plugins/morris/morris.min.js"></script>
    <script src="/assets/plugins/raphael/raphael-min.js"></script>

    <!-- Dashboard init -->
    <script src="/assets/pages/jquery.dashboard.js"></script>

    <!-- App Js -->
    <script src="/assets/js/jquery.app.js"></script>

    <!-- Team Js -->
    <script src="/assets/js/team.js"></script>

    </body>
</html>
