<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Military Connect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="We are your best choice for finding your dream job." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!--Morris Chart CSS -->
		<link rel="stylesheet" href="/assets/plugins/morris/morris.css">

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/assets/css/metisMenu.min.css" rel="stylesheet">
        <!-- Icons CSS -->
        <link href="/assets/css/icons.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/assets/css/style.css" rel="stylesheet">

    </head>

    <body>

        <div id="page-wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">

                    <div class="">

                        <a href="/home">

                            <img src="/assets/images/mclogo.png" alt="logo" width="90" height="60" style= "margin-top: 10px; margin-left: 50px"/>
                        </a>
                    </div>
                </div>
                <!-- Top navbar -->
                <div class="navbar navbar-default" role="navigation">

                    <div class="container">

                        <div class="">

                            <!-- Top nav Right menu -->
                            <ul class="nav navbar-nav navbar-right top-navbar-items-right pull-right">

                                <li class="hidden-xs">

                                    <button class="btn btn-primary" style="margin-top: 18px"><a href="/login" style="color: inherit">Log Out</a></button>
                               
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End Top Navbar -->
            </div><!-- End Top Bar -->

            <!-- Page content start -->
            <div class="page-contentbar">

                <!--Left navigation start-->
                <aside class="sidebar-navigation">

                    <div class="scrollbar-wrapper">

                        <div>

                            <!-- Left Menu Start -->
                            <ul class="metisMenu nav" id="side-menu">

                                <li><a href="/home"><i></i>Home</a></li>

                                <li><a href="/veteran"><i></i>Veteran</a></li>

                                <li><a href="/employer"><i></i>Employer</a></li>
    
                                <li><a href="/jobsTable"><i></i>Jobs</a></li>

                                <li><a href="/search"><i></i>Search</a></li>

                                <li><a href="/team"><i></i>Team</a></li>

                            </ul>
                                <!-- End Left Menu -->
                        </div>
                    </div>
                </aside>
                <!-- End Left Navigation -->

                <!-- Start Page Content -->
                <div id="page-right-content">

                    <div class="container">

                        {{{ body }}}

                    </div>
                </div>
            </div>
        </div><!-- End Wrapper -->



    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>

    <!--Morris Chart-->
    <script src="/assets/plugins/morris/morris.min.js"></script>
    <script src="/assets/plugins/raphael/raphael-min.js"></script>

    <!-- Dashboard init -->
    <script src="/assets/pages/jquery.dashboard.js"></script>

    <!-- App Js -->
    <script src="/assets/js/jquery.app.js"></script>

    <!-- Team Js -->
    <script src="/assets/js/team.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([

          ['Service Branch', 'Number of Veterans'],
          ['Marines',     1],
          ['Army',      1],
          ['Navy',  1],
          ['Air Force', 1],
          ['Coast Guard',    1]
        ]);

        var options = {
          title: 'Veterans breakdown by branch of service'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    </body>
</html>
