<h1 align="center">

	Military Connect

</h1>


<br>


<h5>

	<p align="center">

		Military Connect is where veterans come to find work after their duties to their country are fulfilled. Military Connect is where employers and companies also come when looking to hire military veterans. Employers are able to post job listings under their company name and attach skill sets they are looking for. Veterans also select their own skill sets that they have when sigining up and are matched to employers through our database's based off of skills. If matched the veteran has an oppurtunity to apply to the company to schedule and interview. Veterans may also browse a list of all jobs posted if the matched job posting do not meet their requirements. Employers are also matched up with veterans that meet their skill requirements as well. Employers also have the ability to browse a list of all veterans signed up with us to. Here at Military Connect we believe we can make a diiference by helping those who served us by making civilian living and easier process with help. 

	</p>
	
</h5>


<br>


<img src="../assets/images/hands.jpg" alt="logo-image">


