<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="m-t-0 header-title">Search</h4>

			<div class="table-responsive m-b-20">
				<h5><b>Search All Databases</b></h5>

			</div>
		</div>
	</div>

			
	<div class="row">

		<div class="col-sm-4">

			<div class="form-group">

				<form role="form" method="GET" action="/api/search">

					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					<br>
					<button type="submit" class="btn btn-primary" style="text-align: center">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>