<div class="row">
			
	<div class="col-sm-12">
				
		<h4 class="header-title m-t-0 m-b-20">Team Members</h4>
	</div>
</div>

<div class="row">

	{{#each admins}}

    <div class="col-md-4">
		<div class="text-center card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                    <li><a href="#">Block</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="member-card">

                <div class="">
                    <h4 class="m-b-5">{{this.name}}</h4>
                    <p class="text-muted"><span> <a href="#" class="text-pink">{{this.email}}</a> </span></p>
                </div>

                <p class="text-muted font-13">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ullamcorper mi, condimentum tincidunt lectus. Phasellus porttitor ipsum quis nisi vulputate, sed rhoncus neque finibus.
                </p>

                <button type="button" class="btn btn-default btn-sm m-t-10">Message</button>
    			<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button>

                <ul class="social-links list-inline m-t-30">
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>

            </div>

        </div>

    </div> <!-- end col -->

    {{/each}}

</div>

