<div class="row">
			
	<div class="col-sm-12">
				
		<h4 class="header-title m-t-0 m-b-20">Team Members</h4>
	</div>
</div>

<div class="row">

	<div class="col-md-4">
		<div class="text-center card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                    <li><a href="#">Block</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="member-card">
                <span class="user-badge bg-warning">Team Lead</span>
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    <img src="assets/images/users/avatar-1.jpg" class="img-circle img-thumbnail" alt="profile-image">
                    <i class="mdi mdi-information-outline member-star text-success" title="verified user"></i>
                </div>

                <div class="">
                    <h4 class="m-b-5">Devin Zimmerman</h4>
                    <p class="text-muted"><span> <a href="#" class="text-pink">dzimmerman902@gmail.com</a> </span></p>
                </div>

                <p class="text-muted font-13">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ullamcorper mi, condimentum tincidunt lectus. Phasellus porttitor ipsum quis nisi vulputate, sed rhoncus neque finibus.
                </p>

                <button type="button" class="btn btn-default btn-sm m-t-10">Message</button>
    			<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button>

                <ul class="social-links list-inline m-t-30">
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>

            </div>

        </div>

    </div> <!-- end col -->

    <div class="col-md-4">
    	<div class="text-center card-box">
    		<div class="dropdown pull-right">
    			<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
    				<h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
    			</a>
    			<ul class="dropdown-menu" role="menu">
    				<li><a href="#">Edit</a></li>
    				<li><a href="#">Delete</a></li>
    				<li><a href="#">Block</a></li>
    			</ul>
    		</div>
    		<div class="clearfix"></div>
    		<div class="member-card">
    			<div class="thumb-xl member-thumb m-b-10 center-block">
    				<img src="assets/images/users/avatar-2.jpg" class="img-circle img-thumbnail" alt="profile-image">
    				<i class="mdi mdi-information-outline member-star text-muted" title="unverified user"></i>
    			</div>

    			<div class="">
    			<h4 class="m-b-5">Adam Jahur</h4>
    				<p class="text-muted">Team Member <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
    			</div>

    			<p class="text-muted font-13">
    				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ullamcorper mi, condimentum tincidunt lectus. Phasellus porttitor ipsum quis nisi vulputate, sed rhoncus neque finibus. 
    			</p>

    			<button type="button" class="btn btn-default btn-sm m-t-10">Message</button>
    			<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button>

    			<ul class="social-links list-inline m-t-30">
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
    				</li>
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
    				</li>
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
    				</li>
    			</ul>

    		</div>

    	</div>

    </div> <!-- end col -->

    <div class="col-md-4">
    	<div class="text-center card-box">
    		<div class="dropdown pull-right">
    			<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
    				<h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
    			</a>
    			<ul class="dropdown-menu" role="menu">
    				<li><a href="#">Edit</a></li>
    				<li><a href="#">Delete</a></li>
    				<li><a href="#">Block</a></li>
    			</ul>
    		</div>
    		<div class="clearfix"></div>
    		<div class="member-card">
    			<div class="thumb-xl member-thumb m-b-10 center-block">
    				<img src="assets/images/users/avatar-3.jpg" class="img-circle img-thumbnail" alt="profile-image">
    				<i class="mdi mdi-information-outline member-star text-success" title="verified user"></i>
    			</div>

    			<div class="">
    				<h4 class="m-b-5">Edwin Rodriquez</h4>
    				<p class="text-muted">Team Member <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
    			</div>

    			<p class="text-muted font-13">
    				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ullamcorper mi, condimentum tincidunt lectus. Phasellus porttitor ipsum quis nisi vulputate, sed rhoncus neque finibus. 
    			</p>

    			<button type="button" class="btn btn-default btn-sm m-t-10">Message</button>
    			<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button>

    			<ul class="social-links list-inline m-t-30">
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
    				</li>
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
    				</li>
    				<li>
    					<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
    				</li>
    			</ul>

    		</div>

    	</div>

    </div> <!-- end col -->
</div>

<div class="row">
	<div class="col-md-4">
		<div class="text-center card-box">
			<div class="dropdown pull-right">
				<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
					<h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Edit</a></li>
					<li><a href="#">Delete</a></li>
					<li><a href="#">Block</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="member-card">
				<div class="thumb-xl member-thumb m-b-10 center-block">
					<img src="assets/images/users/avatar-4.jpg" class="img-circle img-thumbnail" alt="profile-image">
					<i class="mdi mdi-information-outline member-star text-muted" title="unverified user"></i>
				</div>

				<div class="">
					<h4 class="m-b-5">Beatriz Lopez</h4>
					<p class="text-muted">Team Member <span> <a href="#" class="text-pink">websitename.com</a> </span></p>
				</div>

				<p class="text-muted font-13">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ullamcorper mi, condimentum tincidunt lectus. Phasellus porttitor ipsum quis nisi vulputate, sed rhoncus neque finibus.
				</p>

				<button type="button" class="btn btn-default btn-sm m-t-10">Message</button>
				<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button>

				<ul class="social-links list-inline m-t-30">
					<li>
						<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
					</li>
				</ul>

			</div>

		</div>

	</div> <!-- end col -->
</div>