<div class="row">
			
	<div class="col-sm-12">
				
		<h4 class="header-title m-t-0 m-b-20">Team Members</h4>
	</div>
</div>

<div class="row">

<div class="row">
    
    <div class="col-sm-12">
        
        <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" style="float: right">Add Team Member</button>

        <!--  Team Member Modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Add Team Member</h4>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                          <div class="row">

                                <form method="POST" action="/api/addteam" id="team-form" class="form-horizontal" role="form">

                                    <div class="form-group">

                                        <label for="name" class="col-md-1 control-label">Name</label>
                                        <div class="col-md-10">
                                            <input name="name" type="name" class="form-control" id="name" placeholder="Name">
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label for="name" class="col-md-1 control-label">Email</label>
                                        <div class="col-md-10">
                                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label for="name" class="col-md-1 control-label">Bio</label>
                                        <div class="col-md-10">
                                            <textarea name="bio" id="bio" cols="30" rows="10" class="form-control"></textarea>
                                        </div>

                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-1"></div>

                                        <div class="col-md-10">                                            
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                              </form>
                          </div>
                      </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
<br>

<div class="row">
    {{#each admins}}
    <div class="col-md-4">
		<div class="text-center card-box">

            <div class="clearfix"></div>
            <div class="member-card">

                <div class="">
                    <h4 class="m-b-5">{{this.name}}</h4>
                    <p class="text-muted"><span> <a href="#" class="text-pink">{{this.email}}</a> </span></p>
                </div>

                <p class="text-muted font-13">
                    {{this.bio}}
                </p>

                <button type="button" class="btn btn-default btn-sm m-t-10">Message</button>

                <a href="/profile/{{this.id}}">
    			<button type="button" class="btn btn-default btn-sm m-t-10">View Profile</button></a>

                <ul class="social-links list-inline m-t-30">
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>

            </div>

        </div>

    </div> <!-- end col -->
    {{/each}}
</div>

</div>

