
    <h1>Hello, world!</h1>

    <div class="container">
		
		<table class="table table">
		  
		
			<tr>
			    <th>id</th>
			    <th>firstName</th>
			    <th>lastName</th>
			    <th>email</th>
			    <th>phoneNumber</th>
			    <th>gender</th>
			    <th>address1</th>
			    <th>address2</th>
			    <th>city</th>
			    <th>state</th>
			    <th>zip</th>		
			    <th>userName</th>
			    <th>password</th>
			</tr>

			<tr>
			    <th>placeHolder for id</th>
			    <th>placeHolder for firstName</th>
			    <th>placeHolder for lastName</th>
			    <th>placeHolder for email</th>
			    <th>placeHolder for phoneNumber</th>
			    <th>placeHolder for address1</th>
			    <th>placeHolder for address2</th>
			    <th>placeHolder for city</th>
			    <th>placeHolder for state</th>
			    <th>placeHolder for zip</th>
			    <th>placeHolder for militaryId</th>
			    <th>placeHolder for userName</th>
			    <th>placeHolder for password</th>
			</tr>

		</table>





    </div>    
  