


    <body>

        
                <div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="m-t-0 header-title">Veterans Looking for work</h4>

                                <div class="table-responsive m-b-20">
                                    <h5><b>Veterans Looking for work</b></h5>
                                    <p class="text-muted font-13 m-b-30">
                                        These are the veterans that are looking for work and have been matched up with your selected profile. To view more information simply click on the veteran to view his contact information.
                                    </p>




                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="datatable_length">
                                                <label>Show 
                                                    <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    </select> entries
                                                </label>
                                            </div>
                                                    </div>
                                        <div class="col-sm-6">
                                            <div id="datatable_filter" class="dataTables_filter">
                                                <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                                                </label>
                                            </div>
                                        </div>
                                    </div>



                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>email</th>
                                            <th>Phone Number</th>
                                        </tr>
                                        </thead>


                                        <tbody>

                                            {{#each Veterans}}
                                                <tr>
                                                    <td>{{this.firstName}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.phoneNumber}}</td>
                                                </tr>
                                            {{/each}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                      

<<<<<<< HEAD
=======


        
        

>>>>>>> master
    </body>




















